.button
{
    -fx-font-size: 32pt;
    -fx-background-color: #FFF;
    -fx-text-alignment: center;
}

.button:hover
{
    -fx-border-width: 3px;
    -fx-border-color: yellow;
}

.label
{
    -fx-text-alignment: center;
    -fx-font-size: 40;
    -fx-font-family: "Courier New", Serif;
}

#pane
{
    -fx-background-color: linear-gradient(from 0px 0px to 600px 400px, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
}
